{{> agent_side_nav}}

<div class="agent-main-wrapper">
{{> agent_header }}
  <div class="admin-wrapper">
    <div class="admin-settings">
      {{> messages }}
      <a href="/admin" style="color:black; font-size:20px; text-decoration:underline">Admin</a>
      >
      <h3 style="display: inline;">Menu Items</h3>
      <div class="menu-item-create-button">
        <a href="/admin/menu_items/new">
          <div class="create-button">
            Create Menu Item
          </div>
        </a>
      </div>
        <div class="mitems-container">
          <table class="table table-bordered" id="mitems-table">
                  <thead>
                    <tr>
                    <th scope="col">Menu Item</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each items}}
                    <tr>
                        <td>
                            <img class="menu-details-image" src="{{this.image}}" alt="{{this.name}}">
                            <p>{{this.name}}</p>
                        </td>
                        <td>{{this.description}}</td>
                        <td>{{this.price}}</td>
                        <td class="edit-options" style="text-align: center;">
                            <a href="/admin/menu_items/{{this._id}}"><i class="far fa-edit"></i></a>
                            <form action="/admin/menu_items/{{this._id}}" method="post">
                            <input type="hidden" name="_method" value="DELETE">
                            <button type="submit" class="delete-menu-item">
                            <i class="far fa-trash-alt"></i>
                            </button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
              </table>
            </div>
    </div>
  </div>
</div>

<script>
   $(document).ready( function () {
    $('#mitems-table').DataTable({"ordering": false, "pageLength": 10,  "columnDefs": [
    { "width": "30%", "targets": 0 }
  ]}
    )
    });

    $('.delete-menu-item').on('click', function(){
      if (window.confirm('Deleting a menu item will remove this item from all menus where it is added. Do you wish to proceed?'))
          {
              console.log('Item deleted')
          }
          else
          {
              event.preventDefault()
          }
        })
</script>